.wrapper {
    width: 700px;
    border: 3px solid rgb(8, 186, 245);
    margin: auto;
    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Star_wars2.svg/1280px-Star_wars2.svg.png); */
    background-size: cover;
    background-position: center;
}

.list {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.item {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    font-style: italic;
}

.list-heroes {
    list-style-type: none;
    font-size: 14px;
    font-weight: 200;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.list-item {
    position: relative;
}

.list-item::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border: 2px solid rgb(8, 186, 245);
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}
